.profile {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: url('../img/profile.png') no-repeat center center;
  background-size: 99% auto;
}
.profile img {
  opacity: 0;
  filter: alpha(opactiy=0);
}
.content-title h2 {
  color: #9a9a9a;
}
table {
  max-width: 100% !important;
}
tr {
  max-width: 100% !important;
}
td {
  max-width: 100px !important;
}
td img {
  width: 100% auto;
}
.tiny-note {
  font-size: 8pt;
}
.muted {
  color: #9a9a9a !important;
}

/*
 * Icons greying out and placing
 */
.icons a { color: #9a9a9a; margin-right: 1em; }
.icons a:hover { color: #fff }
.icons a i.fa-envelope { float: left; margin: .15em .3em 0 0; }
.icons a i.fa-key { float: left; margin: .7em .15em 1em 0; }

/*
 * Comments link
 */
.post-date a { color: #9A9A9A }

/*
 * Fonts
 */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(/theme/fonts/PTSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(/theme/fonts/PTSerif-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(/theme/fonts/PTSerif-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(/theme/fonts/PTSerif-Italic.woff2) format('woff2');
}
