<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/poole.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/syntax.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/lanyon.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/brands.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/solid.css"/>
    {% endblock head %}
  </head>

  <body>
    {% include 'sidebar.html' %}
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ SITEURL }}/" title="Home">{{ SITENAME }}</a>
            {% if SITEDESCRIPTION %}
            <small>{{ SITEDESCRIPTION }}</small>
            {% endif %}
          </h3>
        </div>
      </div>

      <div class="container content">
        {% block content %}{% endblock %}
      </div>

      <label for="sidebar-checkbox" class="sidebar-toggle"></label>

      <script src="{{ SITE_URL }}/theme/js/theme.js"></script>
     </div>
     <script src="{{ SITE_URL }}/theme/js/instantclick.min.js" data-no-instant></script>
     <script data-no-instant>InstantClick.init();</script>
  </body>
</html>
