{% extends "base.html" %}
{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
  <p>Hey! I'm Sébastien. Welcome to my homepage.</p>
  <p>I'm a postdoc researcher interested in communication, interaction and culture &mdash; I currently work on deep learning methods for linguistic and network-structured data at <a href="https://team.inria.fr/dante/" title="Dante Team at IXXI">IXXI</a> in Lyon, France.</p>
  <p>My PhD focused on real-life and experimental cases of <em>chinese whispers</em>, from a cognitive linguistics, anthropological and computational point of view. I was based at the <a href="http://www.ehess.fr/" title="EHESS Website">EHESS</a> in Paris and the <a href="https://cmb.hu-berlin.de/" title="Centre Marc Bloch Website">Centre Marc Bloch</a> in Berlin. If you want to know more, try looking at my <a href="/research/" title="Research details">research</a>.</p>
  <p>Below you'll find my blog, interested in building a society of commons, in education, and in humane technology that empowers and doesn't enslave. Also in learning, and opening black boxes.</p>
  <hr>
</div>
<div class="posts">
  {% for article in articles_page.object_list %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <span class="post-date">{{ article.locale_date }} &mdash; <a href="{{ SITEURL }}/{{ article.url }}#isso-thread">Comments</a></span>

    {{ article.summary }}
  </div>
  {% endfor %}
</div>
{% include 'pagination.html' %}
<script data-isso="//slvh.fr/isso"
        src="{{ SITE_URL }}/theme/js/count.min.js"></script>
{% endblock content %}
