{% extends "base.html" %}
{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
  <blockquote>The grass is greener on this side, I assure you.</blockquote>
  <hr>
  <p>I'm a <a href="/research/" title="Research details">PhD student</a> working between cognitive linguistics and social anthropology at the <a href="http://www.ehess.fr/" title="EHESS Website">EHESS</a> in Paris and the <a href="https://cmb.hu-berlin.de/" title="Centre Marc Bloch Website">Centre Marc Bloch</a> in Berlin. I'm a data-analysis pythonista and an experiment-builder javascriptist.</p>
  <p>I'm interested in building a society of commons, in education, and in humane technology that empowers instead of enslaving.</p>
  <p>I like learning and opening black boxes.</p>
</div>
<div class="posts">
  {% for article in articles_page.object_list %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <span class="post-date">{{ article.locale_date }} &mdash; <a href="{{ SITEURL }}/{{ article.url }}#isso-thread">Comments</a></span>

    {{ article.summary }}
  </div>
  {% endfor %}
</div>
{% include 'pagination.html' %}
<script data-isso="//slvh.fr/isso"
        src="{{ SITE_URL }}/theme/js/count.min.js"></script>
{% endblock content %}
