<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <img src="{{ SITEURL }}/theme/img/profile.png"/>
    </div>
  </div>

  <nav class="sidebar-nav">
  <a class="sidebar-nav-item" href="/">Home</a>

{#
  {% for category, articles in categories %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
  {% endfor %}
#}

  {% for title, href in LINKS %}
  <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}
  </nav>

  <div class="sidebar-item icons">
    <p>
      <a href="https://twitter.com/{{ TWITTER_ACCOUNT }}" title="Twitter"><i class="fa fa-lg fa-twitter"></i></a>
      <a href="https://github.com/{{ GITHUB_ACCOUNT }}" title="GitHub"><i class="fa fa-lg fa-github"></i></a>
    </p>
    <p>
    <a href="mailto:{{ EMAIL_ADDRESS }}" title="Email & XMPP"><i class="fa fa-lg fa-envelope"></i> <span>&amp; XMPP</span></a>
    </p>
    <p>
    <a href="{{ SITEURL }}/sebastien-lerique_sl@mehho.net_0x3D8D8164_pub.asc" title="PGP key"><i class="fa fa-lg fa-key"></i> <span>8431 C860 DEDA FD1A CC2E 4C32 46FE 9C1F 3D8D 8164</span></a>
    </p>
  </div>
</div>
