<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <img src="{{ SITEURL }}/theme/img/profile.png"/>
    </div>
  </div>

  <nav class="sidebar-nav">
  <a class="sidebar-nav-item" href="/">Home</a>

{#
  {% for category, articles in categories %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
  {% endfor %}
#}

  {% for title, href in LINKS %}
  <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}
  </nav>

  <div class="sidebar-item icons">
    <p>
      <a rel="me" href="https://{{ MASTODON_ACCOUNT }}" title="Mastodon"><i class="fab fa-lg fa-mastodon"></i></a>
      <a rel="me" href="https://twitter.com/{{ TWITTER_ACCOUNT }}" title="Twitter"><i class="fab fa-lg fa-twitter"></i></a>
      <a rel="me" href="https://github.com/{{ GITHUB_ACCOUNT }}" title="GitHub"><i class="fab fa-lg fa-github"></i></a>
      <a rel="me" href="mailto:{{ EMAIL_ADDRESS }}" title="Email"><i class="fas fa-lg fa-envelope"></i></a>
      <a rel="me" href="https://matrix.to/#/@{{ MATRIX_ACCOUNT }}" title="Matrix.org"><span>[m]</span></a>
    </p>
    <p>
      <a href="{{ SITEURL }}/static/sebastien-lerique_sl@eauchat.org_2CDAC2B523D649E4_pub.asc" title="PGP key"><i class="fas fa-key"></i> <span>9632 7FD2 6D5B 5914 B5E4  BFB1 2CDA C2B5 23D6 49E4</span></a>
    </p>
  </div>
</div>
